*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #acbaca;
}
.clock{
     position: relative;
    width: 450px;
    height: 550px;
    display: flex;
     justify-content: center; 
    align-items: center;
    background: #c9d5e0;
    border-radius: 50px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    box-shadow: 45px 45px 45px -15px rgba(0,0,0,0.15),
    inset 15px 15px 10px rgba(255,255,255,0.75),
    -15px -15px 35px rgba(255,255,255,0.55),
    inset -2px -2px 15px rgba(0,0,0,0.2);

}
.number{
     position: absolute;
     top: 30px;
     width: 390px;
     height: 390px;
     background: #152b4a;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 7px 7px 22px #152b4a66 ,
     inset 7px 7px 7px rgba(255,255,255,0.55),
     -9px -9px 15px rgba(255, 255, 255, 1);
}
.number::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #e91e63;
     z-index: 100000;
     box-shadow:  
     0 0 0 1px #e91e63,
     0 0  0 3px #fff,
     0 0 5px 5px rgba(0,0,0,0.15);
 
}
.number span{
    position: absolute;
     inset: 15px;
     text-align: center;
     color: #fff;
     font-size: 1.25rem;
     transform: rotate(calc(30deg*var(--i)));

}
.number span b{
    font-weight: 400;
    display: inline-block;
    transform: rotate(calc(-30deg*var(--i)));
}
.number .circle{
    position: absolute;
    width: 280px;
    height: 280px;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}
.number .circle i{
    position: absolute;
    width: 6px;
    height: 50%;
    opacity: 0.80;
    background: var(--clr);
    transform-origin: bottom;
    transform: scaleY(0.5);

}
.number .circle#sec i{
    width: 2px;

}
.number .circle#min i{
    width: 4px;

}
.number .circle#hrs i{
    width: 2px;

}
.number .circle#min {
    width: 230px;
   height: 230px;
}
.number .circle#hrs {
    width: 180px;
   height: 180px;
}
.number .circle::before{
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    transform: translateX(-50%);
    box-shadow:  
    0px 0px 20px var(--clr),
    0 0 60px var(--clr);
 
}
#time{
    position: absolute;
    bottom: 35px;
    display: flex;
    padding: 10px 10px;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 40px;
    background-color: #152b4a;
    box-shadow: 7px 7px 22px #152b4a66 ,
    inset 7px 7px 7px rgba(255,255,255,0.55),
    -9px -9px 15px rgba(255, 255, 255, 1);
}
#time div{
    position: relative;
    width: 60px;
    text-align: center;
     color: var(--clr);
     opacity: 0.80;
}
#time div:last-child{
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: white;

}
#time div:nth-child(1)::after,
#time div:nth-child(2)::after{
    content: ':';
    position: absolute;
    right: -4px;
}
#time div:nth-child(2)::after{
    animation: animate 1s steps(1) infinite;
}
@keyframes animate {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
@media only screen and (max-width:600px){
    .clock{
        position: relative;
       width: 375px;
       height: 490px;
       display: flex;
        justify-content: center; 
       align-items: center;
       background: #c9d5e0;
       border-radius: 50px;
       border-top-left-radius: 250px;
       border-top-right-radius: 250px;
       box-shadow: 45px 45px 45px -15px rgba(0,0,0,0.15),
       inset 15px 15px 10px rgba(255,255,255,0.75),
       -15px -15px 35px rgba(255,255,255,0.55),
       inset -2px -2px 15px rgba(0,0,0,0.2);
   
   }
   .number{
    position: absolute;
    top: 34px;
    width: 315px;
    height: 315px;
    background: #152b4a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 22px #152b4a66 ,
    inset 7px 7px 7px rgba(255,255,255,0.55),
    -9px -9px 15px rgba(255, 255, 255, 1);
}
.number .circle{
    position: absolute;
    width: 225px;
    height: 225px;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}
.number .circle i{
    position: absolute;
    width: 5px;
    height: 45%;
    opacity: 0.80;
    background: var(--clr);
    transform-origin: bottom;
    transform: scaleY(0.5);

}
.number .circle#min {
    width: 202px;
   height: 202px;
}
.number .circle#hrs {
    width: 165px;
   height: 165px;
}
    
}

